title: Mintmintmintminto?
email: seokbong60@gmail.com
description: >-
  Do you linke mint? I like minto!

baseurl: "/mintmintminto"
# For production
url: "https://vector-7.github.io"

# For Test
host: 192.168.1.109

theme: minima
plugins:
  - jekyll-feed

markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge
  
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/