<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}" />
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          "SVG": {linebreaks: { automatic: true }}
        });
      window.addEventListener('resize', MJrerender);
      function MJrerender(){
      MathJax.Hub.Queue(["Rerender",MathJax.Hub])
      };
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_SVG-full"></script>
      
</head>