p, span {
    font-size: 1.1em;
    line-height: 180%;
}
li {
    font-size: 1.05em;
    line-height: 160%;
}
h1, h2 {
    color: $font-title-color;
}
h3, h4, h5, h6 {
    color: $font-subtitle-color;
}
img {
    max-width: 100%;

    &:hover {
        box-shadow: 3px 3px 14px rgb(6, 112, 80);
    }
}
.tag-img {
    content: $svg-tag;
    height: 100%;
    margin-right: 10px;
    box-shadow: 0px 0px 0px black;
}
pre {
    max-width: 97%;
    padding: 10px;
}
strong {
    color: black;
    font-weight: 700;
}
del {
    color: red;
}
code {
    font-family: 'Ubuntu Mono', monospace;
    white-space: pre-wrap;
    font-size: 0.9em;
    line-height: 70%;

}
th, td {
    padding: 10px;
}
table {
    background-color: $table-head-background-color;
    border: 1px solid rgb(0, 49, 122);
    th {
        border-bottom: 2px solid $table-head-underline-color;
        color: $table-head-font-color;
    }
}
// math
.MathJax_SVG_Display {
    color: black;
    white-space: pre-wrap;
}
mjx-container {
    mjx-math {

        color: black;
        white-space: pre-wrap;
    }
}

blockquote {
    padding: 3px 20px 3px 20px;
    margin-left: 0px;
    border-left: 4px solid $blockquote-line-color;
    background-color: $blockquote-background-color;
}
.tag {
    height: 20px;
    padding: 3px 10px 3px 10px;
    background-color: $tag-background-color;
    color: $tag-font-color;
    font-size: 0.8em;
    border-radius: 3px;
    margin-right: 5px;
    cursor: pointer;
    margin-bottom: 5px;

    @include media-query-in-mobile() {
        padding: 3px 10px 1px 10px;
    }

    &:hover {
        background-color: $tag-hovered-color;
    }
}

.custom-triangle {
    height: 100%;
    content: $triangle-img;
    padding: 5px;
}