
h1, h2 {
    color: $font-title-color;
}
h3, h4, h5, h6 {
    color: $font-subtitle-color;
}
img {
    box-shadow: 3px 3px 3px black;
}
.tag-img {
    content: $svg-tag;
    height: 100%;
    margin-right: 10px;
    box-shadow: 0px 0px 0px black;
}
pre {
    width: 95%;
    padding: 10px;
    box-shadow: 1.3px 1px 2px black;
}
code {
    font-family: 'Nanum Gothic Coding', monospace;
    white-space: pre-wrap;
}
.tag {
    height: 20px;
    padding: 3px 10px 3px 10px;
    background-color: $tag-background-color;
    color: $tag-font-color;
    font-size: 0.8em;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
    margin-bottom: 5px;
}

.custom-triangle {
    height: 100%;
    content: $triangle-img;
    padding: 5px;
}