#navbar-pc {
    display: none;
    
    margin-top: 10px;

    width: 70%;
    height: 50px;
    background-color: $navbar-background-color;
    border-radius: 5px;
    box-shadow: 2px 2px 20px $navbar-shadow-color;

    &:hover {
        box-shadow: 4px 4px 30px $navbar-shadow-hovered-color;
    }

    #menu {
        width: 100%;
        padding: 10px 0px 10px 0px;

        display: grid;
        grid: '. . .';

        .item {
            margin-left: 40px;
            margin-right: 40px;
            color: $navbar-font-color;
            font-size: 1.2em;
            cursor: pointer;
            padding-bottom: 13px;

            &:hover {
                border-bottom: 2px solid $navbar-font-color;
            }

        }
    }

    @include media-query-in-desktop() {
        display: block;
    }
}
#navbar-mobile {
    display: block;
    cursor: pointer;
    position: fixed;
    
    width: 100%;
    background-color: $navbar-font-color;
    color: white;
    height: 50px;
    padding-top: 5px;
    border-bottom: 1px solid white;

    p {
        font-size: 1.2em;
        margin-top: 10px;
    }

    @include media-query-in-desktop() {
        display: none;
    }
}
#navbar-mobile-menu {
    display: none;
    cursor: pointer;
    margin-top: 56px;
    position: fixed;
    
    width: 100%;
    background-color: white;
    color: $font-title-color;
    font-weight: 600;
    font-size: 1.3em;

    a {
        text-decoration: none;
        color: $font-title-color;    
    }
    @include media-query-in-desktop() {
        display: none;
    }
    .menu-item {
        border-bottom: 1px solid $mint-line-color;
        padding: 15px 20px 15px 20px;
        @include media-query-in-desktop() {
            display: none;
        }
    }

}