#navbar-pc {
    display: none;
    
    margin-top: 50px;

    width: 70%;
    height: 50px;
    background-color: $navbar-background-color;
    border-radius: 5px;
    box-shadow: 8px 8px 10px $navbar-shadow-color;

    #menu {
        width: 70%;
        padding: 10px 100px 10px 100px;

        display: grid;
        grid: '. . .';

        .item {
            color: $navbar-font-color;
            font-size: 1.2em;
            cursor: pointer;
        }
    }

    @include media-query-in-desktop() {
        display: block;
    }
}
#navbar-mobile {
    display: block;
    cursor: pointer;

    width: 100%;
    background-color: $navbar-background-color;
    color: $navbar-font-color;
    height: 50px;
    padding-top: 10px;

    p {
        font-size: 1.2em;
        margin-top: 10px;
    }

    @include media-query-in-desktop() {
        display: none;
    }
}
#navbar-mobile-menu {
    display: none;
    cursor: pointer;
    
    width: 100%;
    height: 100%;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 4px $navbar-shadow-color;
    color: $font-title-color;
    font-weight: 600;
    font-size: 1.3em;

    a {
        text-decoration: none;
        color: $font-title-color;    
    }
    @include media-query-in-desktop() {
        display: none;
    }
    .menu-item {
        border-bottom: 1px solid $mint-line-color;
        padding: 15px 20px 15px 20px;
        @include media-query-in-desktop() {
            display: none;
        }
    }

}