<div>
    <div id="navbar-mobile" onclick="mobileNavbarClickEvent()">
        <center>
            <p id="mobile-title">{{ site.title }}</p>
        </center>
    </div>
    <div id="navbar-mobile-menu">
        <a href="{{ site.url | append: site.baseurl | append: '/' }}"><div class="menu-item"><center>Home</center></div></a>
        <a href="{{ site.baseurl | append: '/series' }}"><div class="menu-item"><center>Series</center></div></a>
        <a href="{{ site.baseurl | append: '/about' }}"><div class="menu-item"><center>About</center></div></a>
    </div>
</div>