

<div class="side-component">
    <!-- series -->
    <center>
        <h3>SERIES</h3>
        <div class="line"></div>
        {% for data in site.data.series %}
        <a href="{{ site.baseurl | append: '/posts/series?series=' | append: data }}" style="text-decoration: none;"><p class="series-item">{{ data }}</p></a>
        {% endfor %}
        <div style="margin-bottom: 50px;"></div>

        
        <h3>TAGS</h3>
        <div class="line"></div>
        <p class="tag-item">
            {% for tag in site.data.tags %}
            <a href="{{ site.baseurl | append: '/posts/tag?tag=' | append: tag }}" style="text-decoration: none;">{{ tag }}</a>, 
            {% endfor %}
        </p>

    </center>
</div>
