<!DOCTYPE html>
<html>
    {% include head.html %}

    {% assign posts = site.posts %}
    <body>
        {% include components/navbar-mobile.html %}
        <div class="layout">
            <div class="side-padding">
            </div>
            <div class="main-layout">
                <center>
                    {% include components/navbar-pc.html %}
                </center>
                
                <div class="post-summary-layer">
                    {% for post in posts %}
                    
                    <!-- The container -->
                    <div class="post-summary-item">
                        <a href="{{ post.url }}" style="text-decoration-line: none;"><h2>{{ post.title }}</h2></a>
                        <div class="sub-title">
                            <h3>{{ post.date | date: "%Y.%m.%d" }} | {{ post.series }}</h3>
                        </div>
                        <div class="summary">
                            <p>{{ post.summary }}</p>
                        </div>
                        {% assign tags = post.tags %}
                        {% include components/tag-layer.html %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="side-padding">
                {% include components/side-series.html %}
                {% include components/side-tags.html %}
            </div>
        </div>
    {% include footer.html %}
    {% include foot.html %}
    </body>
</html>