<!DOCTYPE html>
<html>
    {% include head.html %}

    {% assign posts = site.posts %}
    <body>
        {% include components/navbar-mobile.html %}
        <div class="layout">
            <div class="side-padding">
            </div>
            <div class="main-layout">
                <center>
                    {% include components/navbar-pc.html %}
                </center>
                
                <div class="title_layer">
                    <center>
                        <h1>{{ page.title }}</h1>
                        <h3>{{ page.date | date: "%Y-%m-%d"}}</h3>
                        <h3 style="color: black">{{ page.series }}</h3>
                    </center>
                </div>
                {% if page.image != "" %}
                <center>
                    <img src="/{{ page.image }}" style="max-width: 100%"/>
                </center>
                {% endif %}
                <div class="content-layer">
                    {{ content }}
                </div>
                <p>{{ site.base_url }}</p>
                
                {% assign tags = page.tags %}
                {% include components/tag-layer.html %}

            </div>
            <div class="side-padding">
                {% include components/side-series.html %}
                {% include components/side-tags.html %}
            </div>
        </div>
        <div class="footer">
    {% include footer.html %}
    {% include foot.html %}
    </body>
</html>