<!DOCTYPE html>
<html>
    {% include head.html %}

    {% assign posts = site.posts %}
    <body>
        {% include components/navbar-mobile.html %}
        <div class="layout">
            <div class="side-padding">
            </div>
            <div class="main-layout">
                <center>
                    {% include components/navbar-pc.html %}
                </center>
                
                <div class="post-summary-layer">
                    
                    <!-- contents -->
                    <div class="post-summary-item">
                        <center><h1>{{ page.title }}</h1></center>
                        {{ content }}
                    </div>

                    <!-- Series -->
                    {% assign cnt = 0 %}
                    {% for series in site.data.series %}
                    <div class="series-layer">
                        <div class="series-item" onclick="seriesContentOnClick('{{ cnt }}')">
                            {{ series }}
                        </div>
                        <div class="posts-layer" id="post-layer-{{ cnt }}">
                            {% for post in posts %}
                            {% if post.series == series %}
                            <a href="{{ post.url }}"><p>[{{ post.date | date: "%Y.%m.%d" }}] {{ post.title }}</p></a>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% assign cnt = cnt | plus: 1 %}
                    {% endfor %}
                    <div style="margin-bottom: 100px;"></div>
                </div>
            </div>
            <div class="side-padding">
                {% include components/side-series.html %}
                {% include components/side-tags.html %}
            </div>
        </div>
    {% include footer.html %}
    {% include foot.html %}
    </body>
</html>